
@font-face {
  font-family: 'Asap-Regular';
  src: url('../fonts/Asap-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Asap-Regular.otf')  format('opentype'),
	     url('../fonts/Asap-Regular.woff') format('woff'), url('../fonts/Asap-Regular.ttf')  format('truetype'), url('../fonts/Asap-Regular.svg#Asap-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.portlet.box.yellow > .portlet-title {
  background-color: #FFB848;
}
@media (min-width: 992px)
.col-md-6 {
  width: 50%;
}
@media (min-width: 992px)
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
}
body {
  color: #333333;
  font-family: 'Asap-Regular';
  padding: 0px !important;
  margin: 0px !important;
  font-size: 13px;
  direction: ltr;
  background: url('../../images/fondo.jpg');
}
a{ cursor: pointer; }
.portlet.box > .portlet-body {
  background-color: #fff;
  padding: 10px;
}
.portlet > .portlet-body {
  clear: both;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.portlet.box > .portlet-title {
  border-bottom: 0;
  padding: 0 10px;
  margin-bottom: 0;
  color: #fff;
}
.portlet > .portlet-title {
  border-bottom: 1px solid #eee;
  padding: 0;
  margin-bottom: 10px;
  min-height: 41px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.portlet.box > .portlet-title > .caption {
  padding: 11px 0 9px 0;
}
.green.btn {
  color: #FFFFFF;
  background-color: #35aa47;
  border-color: "";
}

.portlet > .portlet-title > .caption {
  float: left;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
  padding: 10px 0;
}
.page-head {
  background: #fff;
}

.page-head .page-title {
  display: inline-block;
  float: left;
  padding: 19px 0;
}
body {
  color: #333333;
  font-family: 'Asap-Regular';
  font-weight: 300;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 14px;
  direction: ltr;
}
.page-head .page-title > h1 {
  color: #697882;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.page-content{
  padding-top: 20px;
}
.portlet.light {
  padding: 12px 20px 15px 20px;
  background-color: #fff;
}
.portlet {
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.page-head .page-toolbar {
  display: inline-block;
  float: right;
}
.btn-theme-panel .btn > span{
  font-size: 40px;
  color: #acbac6;
}

[class^="fa-"], [class^="glyphicon-"], [class^="icon-"], [class*=" fa-"], [class*=" glyphicon-"], [class*=" icon-"] {
  display: inline-block;
  margin-top: 15px;
  font-size: 14px;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
}
.alternativas ul
{
  list-style:none;
}

textarea.form-control
{
  height: 200px;
}
.navbar-default {
  background-color: #5A595F;
   border: 0;
}
.navbar {
   border-radius: 0;
   margin-bottom: 0;
}
.page-content {
  padding-top: 0;
}
.cont-pg
{
  background-color: #fff;
}
.titulo
{
  text-align: left;

}
.menuizq
{
  background-color: #88878C;
  padding: 5px 30px;
}.menuizq h4
{
  color: #fff;
  font-size: 18px;
  text-align: left;
  border-bottom: 2px #fff solid;
  font-weight: bold;
}
.menuizq ul
{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.menuizq ul li
{

  margin: 0 0 0 20px;
  padding: 5px 0;
  color: #fff;
  border-bottom: 1px solid #fff;
  font-size: 14px;
}
a
{
  text-decoration: none;
  color: #D78C20;
}
.menuizq a{
  color: #fff;
}
.contenedoder
{
  text-align: left;
  font-size: 15px;
  color: #666666;
}
.contenedoder li
{
  padding: 3px;

}
.foote
{
  background-color: #666666;
  color: #fff;
  text-align: right;
  padding: 16px 64px;
}
.conder{
  min-height: 300px;
}
.contenedorTXT {
  min-height: 400px;
}
.light
{
  text-align: left;
}
.glyphicon
{
  color: #666;
}

.titulo h3{
  margin: 14px;
  color: #E7903C;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.margen{
  padding-bottom: 9px;
  background-color: #C3C4C9;
}

.contenedoder{
  padding-left: 50px;
padding-top: 11px;
padding-right: 40px;
}

.contenedoder h3{
  color: #E7903C;

}
.orange{
  background: #E99130;
  padding: 6px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
  cursor: pointer;
  width: 231px;
}
.orange2{
  background: #E99130;
padding: 5px;
text-align: center;
margin-top: 2px;
margin-bottom: 2px;
cursor: pointer;
width: 211px;

}
.condicion
{
  font-style: italic;
  color: #E7903C;
  text-align: center;
  margin: 10px;
}
.navbar-default .navbar-nav > li > a {
color: #fff;
}
th, .topcel
{
  text-align: center;
  background: #EDEEF0;
  vertical-align: middle;
  display: table-cell;
  border: 0;
  color: #757877;
  font-size: 17px;
  padding: 10px!important;
}
tr
{
  border: 1px solid #EDEEF0;

}
td
{
  padding: 5px;
}

.invi{
  display: none;
}

.cntSeparator {
color: #000000;
font-size: 54px;
margin: 10px 7px;
}
.desc {
margin: 7px 3px;
}
.desc div {
color: #000000;
float: left;
font-family: 'Asap-Regular';
font-size: 13px;
font-weight: bold;
margin-right: 65px;
width: 70px;
}
.espacio{
  width: 200px;
  height: 70px;
  background-color: #88878C;
}

td {
  text-align: center;
}
.centrado{
  text-align: center;
}
.miPrint
  {
    display: none;
  }
@media print and (color) {
   * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }
}
@media print {
.miPrint
    {
      display: block;
      border-bottom: 9px solid #C4C5C9;
    }
.miPrint h3, .ttlocer
    {
      color: #F09F5E!important;
      font-weight: bold;
    }
.noPrint {
    display:none;
  }
.agradecimientos{
    height: 40px;
    border-bottom: 1px solid #C4C5C9;
  }
.espcert
    {
      height: 50px;
    }
.centrado
  {
      padding: 40px 0;
  }
.tbls th
  {
      background-color: #ccc;
  }
}
@media print{
  @page
  {
    size: landscape
  }
  .pruebas{
    border-bottom: 1px solid #000;
  }
}
h3{
  color: #E7903C;
}

a.btn, .orange2{
  color: #fff;
}
.filapregunta {
  float: left;
  width: 100%;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  padding: 10px 0;
  margin-bottom: 35px;
}
.numeropreg {
  float: left;
  width: 200px;
  text-transform: uppercase;
  font-weight: bold;
}
.pregunta {
  float: left;
  width: 600px;
  border-left: 1px solid #EEE;
  padding-left: 15px;
  margin-top: -10px;
  margin-bottom: -10px;
  font-size: 15px;
  line-height: 25px;
}
.filapregunta h4 {
  font-size: 17px;
  margin: 0px;
  margin-top: 10px;
  padding-left: 15px;
  margin-left: -15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEE;
  font-weight: bold;
}
a.activo
{
  color: #D78C20;
}
.espacioinf
{

}
.espaciottl
{
  height: 50px;
}
.headvar{
  -webkit-box-shadow: -1px 0px 10px 5px rgba(0,0,0,0.48);
-moz-box-shadow: -1px 0px 10px 5px rgba(0,0,0,0.48);
box-shadow: -1px 0px 10px 5px rgba(0,0,0,0.48);
}
/*menu*/
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: none;
}
/*Condiciones*/
@media (max-width:768px){
  .imglogo2{
    display:none;
  }
  .menuizq{
    height: auto!important;
  }
  .usuarios
  {
      display:none;
  }
  .menussp ul ul li a{

    color: #fff!important;
  }
}
@media (max-width:992px){

  .usuarios1{
    display: block!important;
  }
  .menuizq{
    height: auto!important;
  }
}
@media (min-width:768px){
  .imglogo{
    display:none;
  }
  .menusdato
  {
      display:none;
  }
}
@media (max-width:650px){
  .pregunta{
    width: auto;
  }
  .contenedoder {
   padding-left: 0;
   padding-right: 0;
  }
}
@media  (max-width:1200px) and (min-width:990px){
  .timer-hora
  {
    font-size: 30px!important;
  }
}
.timer-titu{
  margin-top: 20px;
  font-size: 16px;
  color: #FFF;
}

.timer-hora{
  color:#E7903C;
  font-size: 40px;
  font-weight: bold;
  border: 2px solid #FFF;
}
