@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

@media only screen and (min-width: 30px) and (max-width: 499px) {

	/*.cont-menu p{
		font-size: 50%;
	}

	.cont-menu ul{
		margin: 0px;
		padding: 0px;
	}
	/*.header-menu{
		font-size:80%;
	}
	*/
	.parrafo-header-texto{
		font-size:10px;
	}

	/*.item{
		font-size: 28%;
	}
	/*.foot {
		font-size: 20%;
	}*/


	.foot{
		font-size: 5px;
	}


}

@media only screen and (min-width: 499px) and (max-width: 699px) {

	.parrafo-header-texto{
		font-size:15px;
	}

	.foot{
		font-size: 10px;
	}

}


@media only screen and (min-width: 700px) and (max-width: 1199px) {

	.parrafo-header-texto{
		font-size:20px;
	}

	/*.item{
		font-size: 80%;
	}*/

	.foot {
		font-size: 10px;
	}





}

@media  only screen and (min-width: 1200px) and (max-width: 1399px){

	.parrafo-header-texto{
		font-size:25px;
	}
	/*.cont-menu p{
		font-size: 120%;

	}*/
	/*.header-menu{
		font-size:150%;
	}
	.parrafo-header-texto{
		font-size:70%;
	}*/

	.item{
		font-size: 20px;
	}

	.foot {
		font-size: 12px;
	}

}

@media  only screen and (min-width: 1400px){

	.parrafo-header-texto{
		font-size:35px;
	}

	/*.cont-menu p{
		font-size: 140%;
	}*/


}

@media  only screen and (min-width: 1700px) {

	/*.cont-menu p{
		font-size: 180%;

	}*/
}

@media  only screen and (min-width: 1900px) {

	/*.cont-menu p{
		font-size: 200%;

	}*/
}

@media  only screen and (min-width: 2300px) {

	/*.cont-menu p{
		font-size: 250%;

	}*/
}

@media  only screen and (min-width: 3000px) {

	/*.cont-menu p{
		font-size: 500%;

	}*/
}

.header-menu{
	color:#A4A4A4!important;
	vertical-align: text-bottom;
	font-size: 22px;
}

.cont-menu
{
	background: #424242;
	height: 100%;
	padding-bottom: 100%;
	display: inline-block;
	position: absolute;
	color: white;
	font-family: "Arial", Times, serif;
	z-index: 1;
	text-align: justify;
	font-size: 15px;
}

.cont-menu ul{
	list-style:none;

}
.cont-menu p:hover{
	color: #01DFA5;
}
.cont-menu a{
	color:white;
}

.cont-menu a:hover{
	color:#01DFA5;
}

.cont-menu a:link{
	text-decoration:none;
}

#contenedor {
	margin: 0 auto;
	position: relative;
	padding-left: 5%;
	padding-right: 5%;
	max-width: 100%;
	width: 100%;
}

.item {

	width: 22.5%;
  	float: left;
  	position: absolute;
	padding: 2%;
	background: white;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);*/
	/*border-bottom: solid rgba(0,0,0,0.3);
	border-bottom-width: 1px;
	border-right: solid rgba(0,0,0,0.3);
	border-right-width: 1px;*/

	font-family: Antenna,Helvetica,sans-serif;
	text-align: justify;

}

.item:hover a{

	color:#02D39C;
}

.item:hover span{

	color:#63DDBD;
}

.item h3{
	font-size:150%;
}

.item a{
	color:#333;
}
.item a:hover{
	color:#FF8000;
}

.item a:link{
	text-decoration:none;
}

.item.doble{
	width: 45%;
}

.item.triple{
	width: 67.5%;
}

.grid-sizer{
	width: 22.5%; /* juse a lil under  47 */
  	float: left;
  	position: absolute;
	padding: 2%;
	background: #f9fbfc;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
	font-family: Antenna,Helvetica,sans-serif;
	text-align: justify;
	/*width: 25%;
	float: left;
  	position: absolute;
	padding: 2%;
	background: #f9fbfc;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.3);*/
}


.background-cont-menu
{
	float:right;
	background: #363538;
	padding-bottom: 100%;
	height: 100%;
	position: relative;
	z-index: -1;
	color: white;
	font-family: "Arial", Times, serif;

}

.container-img{
	width: 100%;
}

.js-masonry img{

	max-width: 100%;
	width: 100%;
	height: auto;
	position: relative;
}

.parrafo-header{
	/*display: none;*/
	font-family: Antenna,Helvetica,sans-serif;
	font-size: 200%;
	position:relative;
}

.parrafo-header-texto
{
	background: white;
	position:absolute;
    bottom:0;
    display:none;
    padding:0;
    margin:0;
}

.parrafo-header-texto h1{
	font-size: 14px;
	/*font-size:200%;*/
}

.parrafo-header-texto span:hover{
	color:#FF8000;
}


.texto-body{
	font-family: "Antenna",Helvetica,sans-serif;
}

.text-banner-left p:hover{
	color:#FF8000;
}

.text-banner-rigth p:hover{
	color:#01DFA5;
}

.texto-emergente{
	color: white;
	position:absolute!important;
	bottom:0px!important;
	font-weight: bold;
	font-size: 15px;
}

.foot{
	background: #424242;
	color: white;
	font-family: "Arial", Times, serif;
}

.foot ul{
	list-style:none;
	margin: 0px;
	padding: 0px;
}

.foot h5{
	font-size: 100%;
}

.text-servicios p:hover{
	color:#01DFA5;

}

.text-servicios h3{
	font-size: 120%;
}

.comentarios{
	  margin-left: 15%;
  margin-right: auto;
  width: 70%;
}
.primer-col{
	width: 650px;
}
